//const columns mobile = 
//media query. const columns = 
//font family Futura-pt, Futura STD, Arial, Verdana, sans-serif, line-height 15px;
//1172 <= is mobile, after that is desktop/tablet
//@media only screen and (min-width: 1000px) { 

$darkest: black;  //h1, black
$grey1: hsl(0, 0, 17.6%); // off-black
$grey2: hsl(0, 1.2%, 31.8%); //departments-nav
$grey3: hsl(0, 0, 40%); //sort filter text, all footer text
$grey4: hsl(0,0, 45.9%); //search-text
$grey5: hsl(0, 0, 86.7%); //bottom footer background
$grey6: hsl(0, 0, 93.3%); //sort filter background, footer background
$grey7: hsl(0, 0, 97.3%); //workwear category background
$lightest: white;    
$accent: hsl(344, 83.3%, 44.5%); 

//Vars 
:root {
  --rad: 2rem; 
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --font-fam: 'futura-pt', sans-serif;
  // --font-fam: 'arial', sans-serif;

  --height: 2.4rem; 
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

* {
  // outline: 1px solid green;  
}

.burger {
  color: white; 
}

.homescreen { 
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: repeat (8, auto);      
  grid-template-areas: 
    "top-info"
    "navbar"
    "departmentbar"
    "breadcrumbs"
    "banner"
    "sort-filter"
    "search-results"
    "footer";
  width: 100%; 

  //make search results a separate grid with flexible columns (see css tricks)
  // make footer a sepearate grid of 1 component. after certian screen width, add elements inside in grid format
}

// .html {background-color: black;}  

.top-info {
  grid-area: top-info; 
  display: none;
}

@media only screen and (min-width: 1173px) { 
  .top-info {
    display: flex;
    width: 100%;   
    justify-content: center; 
    background-color: $grey7;

    .container {
      display: flex;
      justify-content: flex-end;
      width: 1366px; 
      max-width: 100%;
      padding: 0 2rem;

      .info {
        display: flex;
        align-items: center;
        border-left: 1px solid $grey5;

         div {
          padding: 0.3rem 1.1rem;
          font-family: 'futura-pt'; 
          font-size: 0.85rem;  
          letter-spacing: 0.8px;
          color: $grey3;
          border-right: 1px solid $grey5;

          img {
            height: 1.2rem;
            vertical-align: middle;
          }

        }
      }
    }
  }
}

.navbar {
  grid-area: navbar;
  background-color: $grey1; 
  display: flex;
  justify-content: center; 
  width: 100%;   
  
  .container {
    display: flex; 
    justify-content: space-between;   
    width: 100%; 
    max-width: 1366px;  
    padding: 0.7rem;  

    form {
      display: none;
    }

  }
}

@media only screen and (min-width: 1173px) { 
  .navbar {
    grid-area: navbar;
    background-color: $grey1; 
    display: flex;
    justify-content: center; 
    width: 100%;   

    .container {
      display: flex; 
      justify-content: space-between;   
      align-items: center; 
      width: 100%;  
      padding: 0 2.1rem;   

      form {
        display: block;  
        position: relative;
        width: 830px; 
        // background: var(--color-brand);
        border-radius: var(--rad); 
        background-color: white; 
        margin: 0 1rem 0 1rem;

        input {
          height: var(--height);
          font-family: var(--font-fam);
          border: 0;
          color: $grey1; 
          font-size: 1.05rem;   
          outline: 0; // <-- shold probably remove this for better accessibility, adding for demo aesthetics for now.
          width: 100%;
          padding: 0 1rem;
          border-radius: var(--rad);
          letter-spacing: 0.3px; 
          appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
          // z-index: 1;
          // position: relative;
          // background: var(--color-light);

          // transition: all var(--dur) var(--bez);
          // transition-property: width, border-radius;
        }

        input:focus {
          // outline: 1px solid blue;  
          box-shadow: inset 0 0 3px 1px #0770cf;
          // background-color: pink; 
        }

        input::-webkit-search-cancel-button {
          -webkit-appearance: none;
          height: 1rem; 
          width: 1em;
          // border-radius: 50em;  
          background: url("../public/imageBank/search-delete.png") no-repeat 50% 50%;
          background-size: contain;
          opacity: 1;

          position: relative; 
          z-index: 10000; 
          margin-right: 2.2rem;   
          // pointer-events: none; 
      }
        button {
          // height: var(--height);
          height: calc(var(--height) - 8px);
          border: 0;
          // display: none; // prevent being able to tab to it
          position: absolute;
          z-index: 10; 
          
          //prev 0
          top: 4px;
          right: 4px;

                    //prev didnt exist
          width: calc(var(--height) - 8px);
          
          // width: var(--btn-width);
          // font-weight: bold;
          background-color: white;
          border-radius:  var(--rad);

          //prev didnt exist
          display: flex; 
          justify-content: center;
          align-items: center; 
        }

        button img {
          height: 65%;
          margin: 0 0.8rem; 
        }

        input:not(:placeholder-shown) {
          // border-radius: var(--rad) 0 0 var(--rad);
          // width: calc(100% - var(--btn-width));
          + button {
            background-color: #0770cf;
            outline: 6px solid #0770cf; 
            outline-offset: -1px;
          }

          + button img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(138deg) brightness(104%) contrast(103%);
          }

        }

      }
    }

  }

}


.burgerlogo {
  display: flex; 
  align-items: center; 
  gap: 1rem; 

  img {
    width: calc(3.0rem + 1.2vw);      
    height: auto; 
  } 
  .burger {
    display: flex;
  }
  .logo {
    display: flex; 
  }
  
  .gender {
    display: none;
  }

}

.searchbasket {
  display: flex; 
  align-items: center;  
  gap: 1.5rem;    

  .basket {
    display: flex;
    margin-right: 0.8em;
  }

  .search {
    display: flex;
  }
}

@media only screen and (min-width: 1173px) {
  
  .burgerlogo {
    gap: 0rem;  

    .burger {
      display: none;  
    }

    .logo {
      margin-right: 1.3rem;  
    }

    .gender {
      display: flex;
      justify-content: center;
      color: white;
      padding: 1.4rem;   
      width: 7.0rem;    

      font-family: 'futura-bold2'; 
      letter-spacing: 2px; 
      font-size: 0.85rem;   
    }

    .women {
      background-color: $grey2;  
    }

    .men {
      border-right: 1px solid $grey2;
    }
  }
  
}

.departmentbar {
  grid-area: departmentbar;
  display: none;  
}

@media only screen and (min-width: 1173px) { 

  .departmentbar {
    grid-area: departmentbar;
    background-color: $grey2;  
    display: flex; 
    justify-content: center; 
    width: 100%; 
  
    .container {
      display: flex; 
      width: 100%;  
      max-width: 1366px;  
      padding: 0 2.2rem;  
      // flex-wrap: wrap;  
      // display: none; 
      
      ul {
        display: flex; 
        list-style: none; 
        flex-wrap: wrap;
        height: 50px;
        
        li {
          color: white;
          font-family: 'futura-pt';
          letter-spacing: 1px; 
          font-size: 0.9rem;
          padding: 1rem 0.7rem;

        }
        
        .skew {
          display: block;
          padding-right: 0.7rem;
          padding-left: 0.9rem;
          margin: 0 0.5rem;
          background-color: $accent;
          -webkit-transform: skew(-12deg);
          transform: skew(-12deg);

           p {
            transform: skew(12deg);
            font-family: 'futura-bold';
            letter-spacing: 1.5px;
          }

        }
  
      }
    }
  }

}

.breadcrumbs {
  grid-area: breadcrumbs;
  display: none;
}

@media only screen and (min-width: 1173px) { 
  .breadcrumbs {
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid $grey5;

    .container {
      display: flex;
      width: 100%; 
      max-width: 1366px;
      flex-direction: column; 
      padding: 1em 2rem; 

      ul {
        display: flex;
        list-style: none;
        gap: 1rem; 
        font-family: 'futura-pt';
        font-size: 0.9rem;
        letter-spacing: 0.5px; 

        .current-page {
          color: $grey4;

        }

      }
    }

  }
}

.banner {
  grid-area: banner;
  background-color: $grey7;   
  width: 100%;   
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column; 
    width: 100%;
    padding: 1rem 0.8rem;
    max-width: 1000px; 
    gap: 1.4rem;

    color: $grey1; 
    text-align: center;
    color: black; 

  }

  h1 {
    color: black; 
    font-family: 'futura-bold2';
    letter-spacing: 1.75px;

  }

  p {
    font-family: 'futura-pt';
    letter-spacing: 1px;

  }

  .view-more {
    cursor: pointer; 
    font-family: 'futura-bold2';
    font-size: 0.9rem;
    letter-spacing: 1.75px;

  }
}

@media only screen and (min-width: 1173px) { 
}


.sort-filter { 
  grid-area: sort-filter;
  // padding: 1rem; 
  background-color: $grey6;   
  width: 100%;    
}

.search-results {
  grid-area: search-results;
  //grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  //const columns mobile = 
  //media query. const columns = 
  width: 100%;    
}

.footer {
  grid-area: footer;
  background-color: $grey5;   
    //const columns mobile = 
//media query. const columns = 
  width: 100%;    

}

